$bgColor-dark: #202020;
$bgColor-semi-dark: #3C3C3C;
$bgColor-light: #fffef2;
$bgColor-linear-gradient: linear-gradient(225deg, #ffee32 0%, #d6d6d6 100%);

$main-light-color: #fff;
$Alex-Johnsson-color: #faeb49;
$banking-title-color: #565656;
$banking-subtitle-color: #000;