@mixin flex($direction:row){
    display: flex;
    flex-direction: $direction;
 }
 
 @mixin grid($colums:1fr) {
    display: grid;
    grid-template-columns: $colums;
  }

  @mixin after{
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
 }