@import"./reset.scss";
@import "./_mixin.scss";
@import "./_fonts.scss";
@import "./_color-bgColor.scss";

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 a{
   text-decoration: none;
 }
 
 .navigation{
   @include flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 1;    
   padding: 1em;
   background: $bgColor-linear-gradient;
}

.header__burger{
   @include flex($direction:column);
   gap: 3px;
   align-items: flex-end;
   justify-content: center;
   border: 2px solid #fff;
   border-radius: 10px;
   background: transparent;
   padding: 13px;
}

.header__burger-item,
.header__burger-itemShort{
   background-color: #fff;
   width: 14px;
   height: 2px;
}
   .header__burger-itemShort{      
      width: 10px;     
   }
    
 .header__iconMenu{
   width: 12px;
   height: 12px; 
} 

.header__logo,
.header__burger{
  width: 44px;
  height: 44px;   
}

.header__list{
   @include flex;
   justify-content: space-between;
   gap: 20px;
   padding-right: 120px;
   list-style: none;
   display: none;
}

.header__item{
   @include flex;
   gap: 12px;
   border: 1px solid #fff;
   border-radius: 20px;
   padding: 10px 16px;


   & a{
      font-family: $font-family;
       font-weight: $bold;
      font-size: 16px;
      color:$main-light-color;
   }
}

// section main-title

.main__introduction{
   @include flex;
   background: $bgColor-linear-gradient;
   padding: 370px 12px 195px;  
}

.main__introductionTitle{
   font-family: $second-family;
   font-weight: $bold;
   font-size: 42px;
   color: $main-light-color;
}

// section meet

.main__meet{
   @include flex($direction:column);
   gap: 40px;
   padding: 72px 16px;
   background-color: $bgColor-dark;
}  

.main-meet__title{
   font-family: $second-family;
   font-weight: $bold;
   font-size: 34px;
   color: $Alex-Johnsson-color;   
}

.main-meet__subtitle{ 
   font-family: $font-family;
   font-weight: $medium;
   font-size: 15px;
   color: $main-light-color;
}

.main-meet__statistic{
   @include flex;
   justify-content: space-between;
   gap: 14px;
}

.main-statistics{
   @include flex($direction:column);
}

.main-statistics__number{
   font-family: $second-family;
   font-weight: $bold;
   font-size: 30px;
   color: $main-light-color;
   margin: 0;
}

.main-statistics__clients{
   font-family: $font-family;
   font-weight: $bold;
   font-size: 14px;
   color: $main-light-color;
}

// section project

.main-project__container{
   @include grid;
}

.main__project{
   @include flex($direction:column);
   align-items: center;
   padding: 52px 16px 22px;
   background-color: $bgColor-semi-dark;
}

.main-project__card{
   @include flex($direction:column);
   background-color: $bgColor-light;
   border-radius: 24px;
   padding: 16px;
   margin-bottom: 63px;   
}
.main-mobile,
.main-mobileApp{
   display: none;
}

.main-banking__linkBanking,
.main-savePlanet__linkPlanet,
.main-mobile__linkMobile,
.main-mobileApp__linkMobileApp{
   height: 448px;
   border-radius: 13px;
   background-size: cover;
   background-position: center;
}

.main-banking__linkBanking{
   height: 498px;
   background-image: url(/images/Frame\ 17.jpg);
}

.main-savePlanet__linkPlanet{
   background-image: url(/images/Frame\ 17_2.jpg);
}

.main-mobile__linkMobile{   
   background-image: url(/images/Frame\ 17_1.jpg);
}

.main-mobileApp__linkMobileApp{
   height: 338px;
   background-image: url(/images/Frame\ 17_3.jpg);
}

.main-banking__title,
.main-savePlanet__title,
.main-mobile__title,
.main-mobileApp__title{
   font-family: $second-family;
   font-weight: $semi-bold;
   font-size: 26px;
   color: $banking-title-color;
   padding: 20px 0 22px;
}
.main-savePlanet__title{
   font-weight: $bold;
   font-size: 18px;   
}

.main-mobile__title,
.main-mobileApp__title{
   font-weight: $bold;
   font-size: 26px;
}

.main-banking__subtitle,
.main-savePlanet__subtitle,
.main-mobile__subtitle,
.main-mobileApp__subtitle{
   font-family: $font-family;
   font-weight: $bold;
   font-size: 13px;
   color: $banking-subtitle-color;
}

.main-savePlanet__subtitle{
   font-weight: $medium;
}
.main-mobile__subtitle,
.main-mobileApp__subtitle{
   font-weight: $medium;
   font-size: 16px;
}

// Graphics Design

.main-design__container{
   @include grid;
 }

.main__design{
   @include flex($direction:column);
   align-items: stretch;
   padding: 58px 16px 93px;
   background-color:$bgColor-dark;
   }

.main-design__title{
   font-family: $second-family;
   font-weight: $bold;
   font-size: 30px;
   color: $main-light-color;
}

.main-design__newspaperImge{
   margin: 52px 0 20px;
}
.main-design__triangleImge{
   margin-bottom: 20px;
}

.main-design__newspaperImge,
.main-design__triangleImge,
.main-design__rectangleImge{
   border-radius: 40px;
   height: 325px;
   background-size: cover;
   background-position: center;
   position: relative;
   width: 100%;
}

.main-design__newspaperImge{   
   background-image: url(/images/unsplash_rqIfy1UyIzE.jpg);   

   &::after{
      @include after;
      width: 160px;
      height: 160px;
      background-image: url(/images/Star.svg);
      top: calc(50% - 80px);
      left: calc(50% - 80px);
   }
}

.main-design__triangleImge{   
   background-image: url(/images/Rectangle\ 6.jpg);   
   
   &::after{
      @include after;
      width: 122px;
      height: 126px;
      background-image: url(/images/Butterfly.svg);
      top: calc(50% - 63px);
      left: calc(50% - 61px);      
   }
}

.main-design__rectangleImge{   
   background-image: url(/images/Rectangle\ 7.jpg);   

   &::after{
      @include after;
      width: 136px;
      height: 130px;
      background-image: url(/images/Asterisk.svg);
      top: calc(50% - 65px);
      left: calc(50% - 68px);      
   }
}

.main__conclusion{
   @include flex;
   justify-content: center;
   background-image: url(/images/Rectangle\ 8.jpg);
   background-size: cover;
   padding: 180px 16px 180px; 
}
   
.main__conclusionTitle{
   font-family: $second-family;
   font-weight: $bold;
   font-size: 21px;
   text-align: center;
   color: $main-light-color;  
}

.footer{
   @include flex($direction:column);
   background-color: $bgColor-dark;
   padding-top: 96px;
}

.footer__button{
   @include flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #f2f2f2;
   border-radius: 100px;
   padding: 15px;
   margin: 0 16px;
   background: transparent;
   text-align: start;
}
.footer__imgDawn{
   width: 52px;
   height: 52px;
}
.footer__text{
   @include flex($direction:column);
   margin-left: 20px;
   gap: 10px;
  }

.footer__title{
   font-family: $second-family;
   font-weight: $bold;
   font-size: 16px;
   color: $main-light-color;   
}

.footer__subtitle{
   font-family: $font-family;
   font-weight: $medium;
   font-size: 12px;   
   color: $main-light-color;  
   
   &::after{
      @include after;
      width: 30px;
      height: 20px;
      background-image: url(/images/Arrow.svg);
      margin-left: 20px;
   }
}

.social-network{
   @include flex;
   justify-content: center;
   gap:25px;
   padding-top: 110px;   
}

.footer__down{
   font-family: $font-family;
   font-weight: $medium;
   font-size: 12px;
   text-align: center;
   color: $main-light-color;
   padding: 20px 0 45px;
}

@media (min-width: 768px) {
   .main__introductionTitle{
     font-size: 78px;
   }
   .main-meet__title{
      font-size: 44px; 
   }   
   .main-meet__subtitle{ 
     font-size: 15px;
   }  
   .main__meet{
      padding: 72px 32px;
   }
   .main-meet__title,
   .main-meet__subtitle,
   .main-meet__statistic{
   width: 492px;
   }
   .main-project__container{
      @include grid($colums:1fr 1fr);
      column-gap: 40px;
   }
   .main-banking{
      grid-column: 1/3;
      width: 100%;  
   }
   .main__project{      
      padding: 52px 32px 22px;
   }   
   .main-banking__title{
      font-size: 38px;
   }
   .main-banking__subtitle,
   .main-savePlanet__subtitle{
      font-size: 16px;
   }
   .main-savePlanet__title{
      font-size: 26px;
   }
   .main-mobile{
      @include flex($direction:column);
  }
     .main-design__container{
      @include grid($colums:1fr 1fr);
      gap: 30px;
   }
 
   .main-design__newspaperImge{
      grid-column: 1/3;
      width: 100%;
      height: 414px;            
    }
   .main__design{
      padding: 58px 32px 93px;
   }
   .main-design__title{
      font-size: 78px;
   }
   .main-design__newspaperImge{
      &::after{         
         width: 220px;
         height: 220px;       
         top: calc(50% - 110px);
         left: calc(50% - 110px);
      }
   }
   .main-design__triangleImge{
      &::after{         
         width: 140px;
         height: 144px;       
         top: calc(50% - 72px);
         left: calc(50% - 70px);
      }
   }
   .main-design__rectangleImge{
      &::after{         
         width: 176px;
         height: 170px;       
         top: calc(50% - 85px);
         left: calc(50% - 88px);
      }
   }
   .main__conclusionTitle{
      font-size: 46px;  
   }
   .main-savePlanet__linkPlanet,
   .main-mobile__linkMobile,
   .main-mobileApp__linkMobileApp{
   max-height: 338px;
   }
   .footer__title{
      font-size: 34px;
   }
   .footer__subtitle{
      font-size: 20px;
   }
   .footer__imgDawn{
      width: 108px;
      height: 108px;
   }
    .footer__text{
      margin-left: 45px;
   }
   .footer__button{
      margin: 0 32px;
   }
}
@media (max-width: 1200px) { .header__list { display: none; } }
@media (min-width: 1200px){
   // .header__list{
   //    @include flex;
   // }
   .header__burger{
      display: none;
   }
    
   .header__logo,
   .main__introductionTitle,
   .main-meet__title,
   .main-meet__subtitle,
   .main-statistics{
      margin-left: 120px;
   }
   .main-mobileApp{
      @include flex($direction:column);
   }
   .main-project__container{
      @include grid($colums:1fr 1fr 1fr);
      column-gap: 40px;
   }
   .main-banking{
      grid-column: 1/4;
      width: 100%;  
   }
   .main__project{      
      padding: 86px 120px 86px;
   }   
   .main__design{
      padding: 58px 120px 93px;
   }
   .main-design__triangleImge,
   .main-design__rectangleImge{
      height: 414px;
   }

   .main-design__newspaperImge{
      &::after{         
         width: 260px;
         height: 260px;       
         top: calc(50% - 130px);
         left: calc(50% - 130px);
      }      
   }
   .main-design__triangleImge{
      &::after{         
         width: 180px;
         height: 184px;       
         top: calc(50% - 92px);
         left: calc(50% - 90px);
      }
   }
   .main-design__rectangleImge{
      &::after{         
         width: 224px;
         height: 216px;       
         top: calc(50% - 108px);
         left: calc(50% - 112px);
      }
   }
   .footer__button{
      margin: 0 120px;
   }   
}