/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1em;
  background: linear-gradient(225deg, #ffee32 0%, #d6d6d6 100%);
}

.header__burger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 10px;
}

.header__iconMenu {
  width: 12px;
  height: 12px;
}

.header__logo,
.header__burger {
  width: 43px;
  height: 43px;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding-right: 120px;
  list-style: none;
  display: none;
}

.header__item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 16px;
}

.header__Portfolio,
.header__Resume,
.header__Testimonials,
.header__Contact {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.main__introduction {
  display: flex;
  flex-direction: row;
  background: linear-gradient(225deg, #ffee32 0%, #d6d6d6 100%);
  padding: 370px 12px 195px;
}

.main__introductionTitle {
  font-family: "DynaPuff", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: #fff;
}

.main__meet {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 72px 16px;
  background-color: #202020;
}

.main-meet__title {
  font-family: "DynaPuff", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #faeb49;
}

.main-meet__subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

.main-meet__statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}

.main-statistics {
  display: flex;
  flex-direction: column;
}

.main-statistics__number {
  font-family: "DynaPuff", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin: 0;
}

.main-statistics__clients {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.main-project__container {
  display: grid;
  grid-template-columns: 1fr;
}

.main__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 16px 22px;
  background-color: #3C3C3C;
}

.main-project__card {
  display: flex;
  flex-direction: column;
  background-color: #fffef2;
  border-radius: 24px;
  padding: 16px;
  margin-bottom: 63px;
}

.main-mobile,
.main-mobileApp {
  display: none;
}

.main-banking__linkBanking,
.main-savePlanet__linkPlanet,
.main-mobile__linkMobile,
.main-mobileApp__linkMobileApp {
  height: 448px;
  border-radius: 13px;
  background-size: cover;
  background-position: center;
}

.main-banking__linkBanking {
  height: 498px;
  background-image: url(/src/images/Frame\ 17.jpg);
}

.main-savePlanet__linkPlanet {
  background-image: url(/src/images/Frame\ 17_2.jpg);
}

.main-mobile__linkMobile {
  background-image: url(/src/images/Frame\ 17_1.jpg);
}

.main-mobileApp__linkMobileApp {
  height: 338px;
  background-image: url(/src/images/Frame\ 17_3.jpg);
}

.main-banking__title,
.main-savePlanet__title,
.main-mobile__title,
.main-mobileApp__title {
  font-family: "DynaPuff", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #565656;
  padding: 20px 0 22px;
}

.main-savePlanet__title {
  font-weight: 700;
  font-size: 18px;
}

.main-mobile__title,
.main-mobileApp__title {
  font-weight: 700;
  font-size: 26px;
}

.main-banking__subtitle,
.main-savePlanet__subtitle,
.main-mobile__subtitle,
.main-mobileApp__subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #000;
}

.main-savePlanet__subtitle {
  font-weight: 500;
}

.main-mobile__subtitle,
.main-mobileApp__subtitle {
  font-weight: 500;
  font-size: 16px;
}

.main-design__container {
  display: grid;
  grid-template-columns: 1fr;
}

.main__design {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 58px 16px 93px;
  background-color: #202020;
}

.main-design__title {
  font-family: "DynaPuff", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.main-design__newspaper {
  margin: 52px 0 20px;
}

.main-design__triangle {
  margin-bottom: 20px;
}

.main-design__newspaperImge,
.main-design__triangleImge,
.main-design__rectangleImge {
  border-radius: 40px;
  height: 325px;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}

.main-design__newspaperImge {
  background-image: url(/src/images/unsplash_rqIfy1UyIzE.jpg);
}
.main-design__newspaperImge::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  width: 160px;
  height: 160px;
  background-image: url(/src/images/Star.svg);
  top: calc(50% - 80px);
  left: calc(50% - 80px);
}

.main-design__triangleImge {
  background-image: url(/src/images/Rectangle\ 6.jpg);
}
.main-design__triangleImge::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  width: 122px;
  height: 126px;
  background-image: url(/src/images/Butterfly.svg);
  top: calc(50% - 63px);
  left: calc(50% - 61px);
}

.main-design__rectangleImge {
  background-image: url(/src/images/Rectangle\ 7.jpg);
}
.main-design__rectangleImge::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  width: 136px;
  height: 130px;
  background-image: url(/src/images/Asterisk.svg);
  top: calc(50% - 65px);
  left: calc(50% - 68px);
}

.main__conclusion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(/src/images/Rectangle\ 8.jpg);
  background-size: cover;
  padding: 180px 16px 180px;
}

.main__conclusionTitle {
  font-family: "DynaPuff", sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding-top: 96px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
  padding: 15px;
  margin: 0 16px;
}

.footer__imgDawn {
  width: 52px;
  height: 52px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}

.footer__title {
  font-family: "DynaPuff", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.footer__arrow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.social-network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  padding-top: 110px;
}

.footer__down {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #fff;
  padding: 20px 0 45px;
}

@media (min-width: 768px) {
  .main__introductionTitle {
    font-size: 78px;
  }
  .main-meet__title {
    font-size: 44px;
  }
  .main-meet__subtitle {
    font-size: 15px;
  }
  .main__meet {
    padding: 72px 32px;
  }
  .main-meet__title,
  .main-meet__subtitle,
  .main-meet__statistic {
    width: 492px;
  }
  .main-project__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
  .main-banking {
    grid-column: 1/3;
    width: 100%;
  }
  .main__project {
    padding: 52px 32px 22px;
  }
  .main-banking__title {
    font-size: 38px;
  }
  .main-banking__subtitle,
  .main-savePlanet__subtitle {
    font-size: 16px;
  }
  .main-savePlanet__title {
    font-size: 26px;
  }
  .main-mobile {
    display: flex;
    flex-direction: column;
  }
  .main-design__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .main-design__newspaper {
    grid-column: 1/3;
    width: 100%;
  }
  .main-design__newspaperImge {
    height: 414px;
  }
  .main__design {
    padding: 58px 32px 93px;
  }
  .main-design__title {
    font-size: 78px;
  }
  .main-design__newspaperImge::after {
    width: 220px;
    height: 220px;
    top: calc(50% - 110px);
    left: calc(50% - 110px);
  }
  .main-design__triangleImge::after {
    width: 140px;
    height: 144px;
    top: calc(50% - 72px);
    left: calc(50% - 70px);
  }
  .main-design__rectangleImge::after {
    width: 176px;
    height: 170px;
    top: calc(50% - 85px);
    left: calc(50% - 88px);
  }
  .main__conclusionTitle {
    font-size: 46px;
  }
  .main-savePlanet__linkPlanet,
  .main-mobile__linkMobile,
  .main-mobileApp__linkMobileApp {
    max-height: 338px;
  }
  .footer__title {
    font-size: 34px;
  }
  .footer__subtitle {
    font-size: 20px;
  }
  .footer__imgDawn {
    width: 108px;
    height: 108px;
  }
  .footer__text {
    margin-left: 45px;
  }
  .footer__button {
    margin: 0 32px;
  }
}
@media (min-width: 1200px) {
  .header__list {
    display: flex;
    flex-direction: row;
  }
  .header__burger {
    display: none;
  }
  .header__logo,
  .main__introductionTitle,
  .main-meet__title,
  .main-meet__subtitle,
  .main-statistics {
    margin-left: 120px;
  }
  .main-mobileApp {
    display: flex;
    flex-direction: column;
  }
  .main-project__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }
  .main-banking {
    grid-column: 1/4;
    width: 100%;
  }
  .main__project {
    padding: 86px 120px 86px;
  }
  .main__design {
    padding: 58px 120px 93px;
  }
  .main-design__triangleImge,
  .main-design__rectangleImge {
    height: 414px;
  }
  .main-design__newspaperImge::after {
    width: 260px;
    height: 260px;
    top: calc(50% - 130px);
    left: calc(50% - 130px);
  }
  .main-design__triangleImge::after {
    width: 180px;
    height: 184px;
    top: calc(50% - 92px);
    left: calc(50% - 90px);
  }
  .main-design__rectangleImge::after {
    width: 224px;
    height: 216px;
    top: calc(50% - 108px);
    left: calc(50% - 112px);
  }
  .footer__button {
    margin: 0 120px;
  }
}

/*# sourceMappingURL=output.css.map */
